{% load staticfiles %}
{% load react %}

<!doctype html>
<html class="no-js" lang="sv">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'core/css/index.css' %}" type="text/css" />
</head>

<body onload="document.querySelector('html').classList.remove('no-js');">
    {% block main %}
        {% react_render component=react_container props=react_props %}
    {% endblock main %}

    <script type="text/javascript" src="{% static 'core/js/vendor.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/index.js' %}"></script>

    {% react_print %}
</body>

</html>
